<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/_adminlayout}">
<head>
    <title>Thêm Tập Phim</title>
</head>
<body layout:fragment="content">
<div>
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Thêm Tập Phim</h6>
        </div>
        <div class="form-row">
            <div class="card-body">
                <form th:action="@{/admin/tapphims/create}" th:object="${tapphims}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group col-sm-3">
                        <label for="tapphimthu" class="form-label">Tập Thứ:</label>
                        <input type="text" th:field="*{tapphimthu}" class="form-control" id="tapphimthu"
                               required>
                        <div class="text-danger" th:if="${#fields.hasErrors('tapphimthu')}"
                             th:errors="*{tapphimthu}"></div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="tapphimupdate">Video:</label>
                        <input class="form-control-file" type="file" id="tapphimupdate" name="movietapphim">
                        <div class="alert alert-warning" th:if="${#fields.hasErrors('tapphimupdate')}" th:errors="*{tapphimupdate}"></div>
                    </div>
                    <div class="form-label col-sm-3">
                        <label for="phim">Phim:</label>
                        <select th:field="*{phim}" class="form-control" id="phim">
                            <option th:each="phim : ${phims}"
                                    th:value="${phim.phimId}" th:text="${phim.tenphim}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                    </div>
                </form>
                <a th:href="@{/admin/tapphims}">Quay lại</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>